<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Contactez-nous !</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>5 Bd Abdellah Ben Yacine N°3 Etage 7,
                    Casablanca Maroc.</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+212 66313821</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+212 520192922</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>ilmasuccesscom&#64;gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/ilmasuccess/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/ilmasuccess/"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@ilmasuccess9177"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/company/ilma-success/"
                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Liens Utiles</h5>
                <a class="btn btn-link text-white-50" href="https://ilmasuccess.com/" target="_blank">Ilma Success</a>
                <a class="btn btn-link text-white-50" href="/contact">Contact</a>
                <a class="btn btn-link text-white-50" href="/politic" target="_blank">Politique de Confidentialité</a>
                <a class="btn btn-link text-white-50" href="/terms" target="_blank">Terms d'Utilisation</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Gallerie</h5>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image10.jpg"
                            alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image11.jpg"
                            alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image12.jpg"
                            alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image9.jpg"
                            alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image8.jpg"
                            alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../../../assets/img/portfolio/Image10.jpg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">ILMA EVENT</a>, Tous droits réservés.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Développé par <a class="border-bottom" href="#">YMDev Company</a>
                </div>
            </div>
        </div>
    </div>
</div>
