<div class="popup-container" *ngIf="true">
    <div class="popup-content">
        <button class="close-btn" (click)="closeAddMediaPopup()"> &times;</button>
        <form [formGroup]="mediaForm" class="form">
            <div class="u-margin-bottom-medium">
                <h3 class="heading-tertiary" *ngIf="!editMode">
                    Ajouter une Nouvelle Image ou Affiche.
                </h3>
                <h3 class="heading-tertiary" *ngIf="editMode">
                    Modifier le Media ou l'Affiche.
                </h3>
            </div>
            <div class="form__group">
                <label for="type" class="form__label">Type de Médiathéque :</label>
                <select class="form__input form__select" id="type" formControlName="type">
                    <option>Image</option>
                    <option>Affiche</option>
                </select>
            </div>
            <div class="form__group">
                <label for="description" class="form__label">Description :</label>
                <input type="text" class="form__input" placeholder="Description" id="description"
                    formControlName="description" required>
            </div>
            <div class="form__group">
                <label for="participantsNb" class="form__label">Ordre :</label>
                <input type="number" class="form__input" placeholder="Ordre" id="rank" formControlName="rank" required>
            </div>

            <div class="form__group">
                <label for="active" class="form__label">Actif ?</label>
                <div class="form__switch">
                    <input type="checkbox" class="form__input form__switch-input" id="active"
                        formControlName="active" />
                    <label class="form__switch-label" for="active">
                        <span class="form__switch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="form__group">
                <div class="row form__file">
                    <div class="form__file_box">
                        <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput
                            id="fileInput" class="form__file_box-input btn btn-export" />
                            <label for="fileInput" class="btn btn-export"><i class="fa fa-upload"></i> {{ selectedFileName }}</label>
                    </div>
                    <div class="form__file_img-box">
                        <img *ngIf="fileLoaded" [src]="imageSrc" alt="image loaded" class="form__file_img">
                        <img *ngIf="editMode" src="{{mediaEl.url}}" alt="{{mediaEl.label}}" class="form__file_img">
                    </div>
                </div>
            </div>




            <div class=" row form__group">
                <button type="submit" class="btn btn--primary btn-submit" (click)="onSubmit()">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>
