<div class="popup-container" *ngIf="true">
    <div class="popup-content">
        <button class="close-btn" (click)="closeAddMediaPopup()"> &times;</button>
        <form [formGroup]="mediaForm" class="form" enctype="multipart/form-data">
            <div class="u-margin-bottom-medium">
                <h3 class="heading-tertiary" *ngIf="!editMode">
                    Ajouter une Nouvelle Image ou Affiche.
                </h3>
                <h3 class="heading-tertiary" *ngIf="editMode">
                    Modifier le Media ou l'Affiche.
                </h3>
            </div>
            <div class="form__group" *ngIf="editMode">
                <label for="label" class="form__label">Libéllé :</label>
                <input type="text" class="form__input" placeholder="Libéllé" id="label" formControlName="label"
                    readonly>
            </div>
            <div class="form__group">
                <label for="type" class="form__label required">Type de Médiathéque :</label>
                <select class="form__input form__select" id="type" formControlName="type" required>
                    <option>Image</option>
                    <option>Affiche</option>
                </select>
                <app-field-error-display [displayError]="isFieldValid('type')!" errorMsg="Veuillez choisir un type !">
                </app-field-error-display>
            </div>
            <div class="form__group">
                <label for="description" class="form__label">Description :</label>
                <textarea type="textarea" class="form__textarea" placeholder="Description" id="description"
                    formControlName="description">
            </textarea>
                <p class="p-counter">{{ descriptionCharacterCount }}/64</p>
                <app-field-error-display [displayError]="isFieldValid('description')!"
                    errorMsg="La description ne peut pas dépasser 64 caractères.">
                </app-field-error-display>
            </div>
            <div class="form__group">
                <label for="participantsNb" class="form__label">Ordre :</label>
                <input type="number" class="form__input" placeholder="Ordre" id="rank" formControlName="rank">
            </div>

            <div class="form__group">
                <label for="active" class="form__label">Actif ?</label>
                <div class="form__switch">
                    <input type="checkbox" class="form__input form__switch-input" id="active"
                        formControlName="active" />
                    <label class="form__switch-label" for="active">
                        <span class="form__switch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="form__group" *ngIf="!editMode">
                <div class="row form__file">
                    <div class="form__file_box">
                        <p *ngIf="!fileLoaded" class="text-danger" style="font-size: 1.2rem;">Veuillez choisir une
                            image.<br /> Il est recommandé de choisir une image respectant le ratio
                            <strong>"271:350"</strong> pour un affichage optimal.</p>

                        <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput
                            id="fileInput" class="form__file_box-input btn btn--primary" />
                        <label for="fileInput" class="btn btn--primary"><i class="fa fa-upload"></i>
                            {{ selectedFileName }}</label>
                    </div>
                    <div *ngIf="errorMessage" class="error-message padding-content">
                        {{ errorMessage }}
                    </div>
                    <div class="form__file_img-box">
                        <img *ngIf="fileLoaded" [src]="imageSrc" alt="image loaded" class="form__file_img">
                        <!-- <img *ngIf="editMode" src="{{mediaEl.url}}" alt="{{mediaEl.label}}" class="form__file_img"> -->
                    </div>
                </div>

            </div>

            <div class="row form__group row d-flex justify-content-center">
                <button type="submit" class="btn btn--primary btn--sm" (click)="onSubmit()">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>
