<div class="row admin__request-tools">
  <ul class="admin__request-tools-list">
    <li>
      <input type="text" class="form__input tools__search" placeholder="Recherche" id="search">
    </li>
    <li>
      <button class="btn btn-sm btn-export" (click)="openAddTypePopup()">Ajouter</button>
    </li>
  </ul>
</div>
<div class="row admin__request-table">
  <h3>Préstations</h3>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>Détails</th>
        <th>Code</th>
        <th>Libellé</th>
        <th>Description</th>
        <th>Ordre</th>
        <th>Actif</th>

      </tr>
    </thead>
    <tbody class="list">
      <tr class="list--list-item" *ngFor="let type of types; let i = index">
        <td class="customtooltip">
          <i class="far fa-clock"></i>
          <span class="customtooltiptext">
            Date Création : {{type.creationDate}} <br />
            Date Modification : {{type.lastModifDate}}
          </span>
        </td>
        <td class="">{{type.code}}</td>
        <td class="">{{type.label}}</td>
        <td class="">{{type.description}}</td>
        <td class="">{{type.rank}}</td>
        <td class="">{{type.active? 'Oui' : 'Non'}}</td>

        <td class="">
          <a type="button" (click)="onEditType(type.id)" class="mr-3"><i class="fa fa-pencil"
              aria-hidden="true"></i></a>
        </td>
        <td class="">
          <a type="button" (click)="onCallDeleteType(type.id,i)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>

      </tr>
    </tbody>
  </table>
</div>


<!------------------------------------------------ ADD NEW BENEFIT POPUP ------------------------------------------------------>
<app-add-type *ngIf="isAddTypePopupOpen" (close)="closeAddTypePopup()" (submit)="onTypeFormSubmit($event)"
  [typeId]="typeId">
</app-add-type>
<!------------------------------------------------ END ADD NEW BENEFIT POPUP ------------------------------------------------------>
<!------------------------------------------------ ALERT CALL ------------------------------------------------------>
<div class="backdrop" *ngIf="isAlertCalled"></div>
<div class=" form-box " *ngIf="isAlertCalled">
  <h4>Voulez-vous vraiment supprimer cette préstation ?</h4>
  <div class="form_box__btn">
    <button (click)="onDeleteType()" class="btn btn--warning">Oui </button>
    <button class="btn btn--secondary" (click)="onCloseAlert()">Annuler </button>
  </div>
</div>
<!------------------------------------------------ END ALERT CALL ------------------------------------------------------>
