@import "../../../sass/main.scss";

.header {
    height: 35vh;
    background-color: $color-white;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    &__logo-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 500;
        background-color: rgba($color-white, 0.3);
        width: 100%;
        text-align: center;
    }

    &__logo {
        height: 10rem;

    }

    &__title {
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }
}

.heading {
    background-image: linear-gradient(to right bottom, rgba($color-tertiary, 1), rgba($color-tertiary-light, 1));
    font-size: 1.6rem;
    padding: 1rem;
    color: $color-white;
    margin-bottom: 2rem;
}

.help {
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
}
