html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.container {
	width: 70%;
	padding: 5rem 0;
}

.padding-content {
	padding: 1rem 2rem 1.5rem;
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}

a {
	text-decoration: none;
}

a:hover {
	color: $color-primary;
	cursor: pointer;
}

ul {
	list-style: none;
	padding-left: 0;
}
