<div class="popup-container" *ngIf="true">
    <div class="popup-content">
        <button class="close-btn" (click)="closeAddBenefitPopup()"> &times;</button>
        <form [formGroup]="benefitForm" class="form" style="padding: 20px; width:95%">
            <div class="u-margin-bottom-medium mb-3">
                <h3 class="heading-tertiary" *ngIf="!editMode">
                    Ajouter une Nouvelle Préstation.
                </h3>
                <h3 class="heading-tertiary" *ngIf="editMode">
                    Modifier la Préstation.
                </h3>
            </div>
            <div class="form__group mb-3">
                <label for="label" class="form-label required">Libellé :</label>
                <input type="text" class="form-control" placeholder="Libellé" id="label" formControlName="label"
                    required>
                <app-field-error-display [displayError]="isFieldValid('label')!" errorMsg="Veuillez saisir un libellé !"
                    class="fs-6 text-secondary">
                </app-field-error-display>
            </div>

            <div class="form__group mb-3">
                <label for="description" class="form-label">Description :</label>
                <textarea type="textarea" class="form-control form__textarea" placeholder="Description" id="description"
                    formControlName="description">
                </textarea>
                <p class="p-counter">{{ descriptionCharacterCount }}/250</p>
                <app-field-error-display [displayError]="isFieldValid('description')!"
                    errorMsg="La description ne peut pas dépasser 250 caractères." class="fs-5 text-secondary">
                </app-field-error-display>
            </div>

            <div class="form__group mb-3">
                <label for="participantsNb" class="form-label">Ordre :</label>
                <input type="number" class="form-control" placeholder="Ordre" id="rank" formControlName="rank">
            </div>

            <div class="form__group mb-3">
                <label for="active" class="form-label">Actif ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="active" formControlName="active">
                </div>
            </div>
            <div class="form__group mb-3">
                <label for="icone" class="form-label required">Icone :</label>
                <input type="text" class="form-control" placeholder="Icone" id="icone" formControlName="icone" required>
                <app-field-error-display [displayError]="isFieldValid('icone')!" errorMsg="Veuillez choisir une icône !"
                    class="fs-5 text-secondary"></app-field-error-display>
            </div>

            <div class="row form__group justify-content-center">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>
