<app-navigation></app-navigation>
<!-- Header Start -->
<div class="container-fluid header header-feature bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-8 p-5 header-feature-heading">
            <h1 class="display-5 animated fadeIn mb-4">Termes d'Utilisation</h1>
            <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Termes d'Utilisation</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Politics Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                        <p class=" paragraph paragraph__about">
                            Bienvenue sur ILMA EVENT ! <br />

                            Ces termes d'utilisation régissent votre utilisation de notre site web et de tous les
                            services proposés par ILMA SUCCESS via ce site web.
                        </p>
                        <h6>1. Acceptation des Conditions</h6>
                        <p class=" paragraph paragraph__about">
                            En utilisant notre site web et en soumettant des informations via le formulaire de prise de
                            contact pour l'organisation d'événements, vous acceptez d'être lié par ces termes
                            d'utilisation, ainsi que par notre Politique de Confidentialité.
                        </p>
                        <h6>2. Collecte d'Informations</h6>
                        <p class=" paragraph paragraph__about">
                            Lorsque vous utilisez notre formulaire de prise de contact pour demander des informations
                            sur l'organisation d'événements, nous collectons des informations personnelles telles que
                            votre nom, votre adresse e-mail, votre numéro de téléphone et toute autre information que
                            vous choisissez de nous fournir. Ces informations sont utilisées dans le but de répondre à
                            votre demande et de vous fournir les services demandés.
                        </p>
                        <h6>3. Utilisation des Informations</h6>
                        <p class=" paragraph paragraph__about">
                            Les informations collectées via notre formulaire de prise de contact ne seront utilisées que
                            dans le cadre de la fourniture de nos services d'organisation d'événements. Nous ne
                            partagerons pas vos informations avec des tiers sans votre consentement explicite, sauf si
                            cela est nécessaire pour répondre à votre demande ou si nous y sommes légalement tenus.
                        </p>
                        <h6>4. Sécurité des Données</h6>
                        <p class=" paragraph paragraph__about">
                            Nous prenons des mesures de sécurité raisonnables pour protéger vos informations
                            personnelles contre la perte, l'utilisation abusive et l'accès non autorisé. Cependant,
                            veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique
                            n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos données.
                        </p>
                        <h6>5. Consentement</h6>
                        <p class=" paragraph paragraph__about">
                            En soumettant des informations via notre formulaire de prise de contact, vous consentez à ce
                            que nous utilisions vos informations conformément à ces termes d'utilisation et à notre
                            Politique de Confidentialité.
                        </p>
                        <h6>6. Modifications des Termes d'Utilisation</h6>
                        <p class=" paragraph paragraph__about">
                            Nous nous réservons le droit de modifier ces termes d'utilisation à tout moment, à notre
                            seule discrétion. Toute modification sera effective dès sa publication sur notre site web.
                            Il est de votre responsabilité de consulter régulièrement ces termes pour prendre
                            connaissance de toute mise à jour.
                        </p>
                        <h6>7. Contact</h6>
                        <p class=" paragraph paragraph__about">
                            Si vous avez des questions concernant ces termes d'utilisation ou notre Politique de
                            Confidentialité, veuillez nous contacter à ilmasuccesscom&#64;gmail.com.
                        </p>
                        <p class=" paragraph paragraph__about">
                            En utilisant notre site web et notre formulaire de prise de contact, vous reconnaissez avoir
                            lu, compris et accepté ces termes d'utilisation. Si vous n'acceptez pas ces termes, veuillez
                            ne pas utiliser notre site web ni soumettre d'informations via notre formulaire de prise de
                            contact.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Politics End -->
<app-footer></app-footer>
