// COLORS
// #6A7CC1
// #97a3d4
// #3d4f94

// #861718
// #db2c2e
// #5e1011

// #245371
// #3f8fc2
// #193a4f

// hsl(235, 60%, 50%)
// hsl(5, 70%, 40%)
//hsl(205, 60%, 40%)

// #777
// #999
// #333



$color-primary: #6a7cc1;
$color-primary-light: #97a3d4;
$color-primary-dark: #3d4f94;

$color-primary-vibrant: hsl(235, 60%, 50%);

$color-secondary: #861718;
$color-secondary-light: #db2c2e;
$color-secondary-dark: #5e1011;

$color-secondary-vibrant: hsl(5, 70%, 40%);

$color-tertiary: #245371;
$color-tertiary-light: #3f8fc2;
$color-tertiary-dark: #193a4f;

$color-tertiary-vibrant: hsl(205, 60%, 40%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
