<app-navigation></app-navigation>

<!-- <section class="section-separator"></section> -->
<div class="header_contact ">
    <!-- <h1 class="heading-primary">Contactez-Nous !</h1> -->
</div>
<div class="section-contact ">
    <div class="container">
        <div class="row">
            <div class="col-7 justify-content-center">
                <h3 class="heading-tertiary">Organisez Votre Evénement Avec <strong>ILMA SUCCESS</strong></h3>
                <p class="paragraph  mt-5">
                    Pour toute question ou demande d'information supplémentaire, n'hésitez pas à nous contacter via les
                    moyens ci-dessous. Si vous préférez un échange plus direct, notre équipe dévouée est également
                    disponible par téléphone. <strong>ILMA EVENT</strong> vous accompagne avec plaisir dans la
                    planification de votre
                    événement, que ce soit pour des détails spécifiques ou une assistance globale. Nous sommes
                    impatients de contribuer à la réussite de votre événement.
                </p>
            </div>
            <div class="offset-1 col-4">
                <div class="contact">
                    <h3>Adresse Electronique</h3>
                    <p class="paragraph">
                        ilmasuccesscom&#64;gmail.com
                    </p>
                    <hr />
                    <h3>Adresse</h3>
                    <p class="paragraph">
                        5 Bd Abdellah Ben Yacine N°3 Casablanca Etage 7
                    </p>
                    <hr />
                    <h3>Téléphone GSM</h3>
                    <p class="paragraph">
                        +212 66313821
                    </p>
                    <hr />
                    <h3>Téléphone Fixe</h3>
                    <p class="paragraph">
                        +212 520192922
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-separator"></section>
<app-footer></app-footer>
