<app-navigation></app-navigation>
<!-- Header Start -->
<div class="container-fluid header header-feature bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-4 p-5 header-feature-heading">
            <h1 class="display-5 animated fadeIn mb-4">Contact</h1>
            <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-8 animated fadeIn">
            <div class="header-img header-img-contact position-relative overflow-hidden p-5 pe-0">
                <img class="img-fluid mt-5" src="../../../assets/img/features/header_image.png">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-11 text-white text-center">
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Organisez Votre Evénement Avec <strong>ILMA EVENT</strong></h1>
            <p> Pour toute question ou demande d'information supplémentaire, n'hésitez pas à nous contacter via les
                moyens ci-dessous. Si vous préférez un échange plus direct, notre équipe dévouée est également
                disponible par téléphone. <strong>ILMA EVENT</strong> vous accompagne avec plaisir dans la
                planification de votre
                événement, que ce soit pour des détails spécifiques ou une assistance globale. Nous sommes
                impatients de contribuer à la réussite de votre événement.</p>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded p-3">
                            <div class="d-flex align-items-center bg-white rounded p-3"
                                style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-map-marker-alt text-primary"></i>
                                </div>
                                <span> 5 Bd Abdellah Ben Yacine N°3 Etage 7, Casablanca, Maroc </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="bg-light rounded p-3">
                            <div class="d-flex align-items-center bg-white rounded p-3"
                                style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-envelope-open text-primary"></i>
                                </div>
                                <span>ilmasuccesscom&#64;gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-light rounded p-3">
                            <div class="d-flex align-items-center bg-white rounded p-3"
                                style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                                <span> +212 66313821 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-light rounded p-3">
                            <div class="d-flex align-items-center bg-white rounded p-3"
                                style="border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="icon me-3" style="width: 45px; height: 45px;">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                                <span> +212 520192922 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<app-footer></app-footer>
