<app-navigation></app-navigation>
<div class="header_contact ">
    <h1 class="heading-primary  ">Contactez-Nous !</h1>
</div>
<div class="section-contact ">
  <div class="container">
    <div class="row">
      <div class="col-1-of-2 justify-content-center">
        <h2>Organisez Votre Evénement Avec Ilmasuccess</h2>
        <p class="paragraph paragraph--md-bold mt-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequuntur dolorem sequi
          repudiandae incidunt nobis libero voluptates voluptatem ratione, sunt corporis quidem perferendis
          veritatis pariatur similique! Nostrum eum fugit ducimus.
        </p>
      </div>
      <div class="col-1-of-2">
        <div class="contact">
          <h3>Adresses Electroniques</h3>
          <p class="paragraph">
            ilmasuccessgmail.com
          </p>
          <hr />
          <h3>Adresse</h3>
          <p class="paragraph">
            Addresse
          </p>
          <hr />
          <h3>Téléphones</h3>
          <p class="paragraph">
            +212 612121212
          </p>
          <hr />
          <h3>Fax</h3>
          <p class="paragraph">
            +212 612121212
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
