// ----------------------------------------------
// Layout Style
// ----------------------------------------------

.page-wrapper {
  position: relative;
}

.body-wrapper {
  position: relative;

  > .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    transition: 0.2s ease-in;
  }
}

// @include media-breakpoint-down(md) {
//   .body-wrapper {
//     > .container-fluid {
//       padding: 30px 20px;
//     }
//   }
// }

.simplebar-scrollbar:before {
  background: rgba(0, 0, 0, 0.5) !important;
}

#main-wrapper[data-layout="vertical"] {
  // Sidebar position
  &[data-sidebar-position="fixed"] {
    .left-sidebar {
      position: fixed;
      top: 0;
    }
  }

  // Header position
  &[data-header-position="fixed"] {
    .app-header {
      position: fixed;
      z-index: 10;
    }

    .body-wrapper {
      > .container-fluid {
        padding-top: calc(#{70px} + 15px);
      }
    }
  }
}

// @include media-breakpoint-up(xl) {
//   #main-wrapper[data-layout="vertical"] {
//     // Fixed Header + Minisidebar
//     &[data-header-position="fixed"][data-sidebartype="mini-sidebar"] {
//       .app-header {
//         width: calc(100%);
//       }
//     }

//     // Header position
//     &[data-header-position="fixed"] {
//       .app-header {
//         width: calc(100% - #{270px});
//       }
//     }

//     // Full Sidebar
//     &[data-sidebartype="full"] {
//       .body-wrapper {
//         margin-left: 270px;
//       }
//     }
//   }
// }

//
// Responsive view (below desktop view)
//
@media (max-width: 1199px) {
  #main-wrapper[data-layout="vertical"] {
    &[data-sidebartype="mini-sidebar"],
    &[data-sidebartype="full"] {
      .left-sidebar {
        left: -270px;
      }

      &.show-sidebar {
        .left-sidebar {
          left: 0;
        }
      }
    }
  }
}

// ----------------------------------------------
// Header Style
// ----------------------------------------------

.app-header {
  position: relative;
  z-index: 50;
  width: 100%;
  background: $color-white;
  padding: 0 25px;

  .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .navbar {
    min-height: 70px;
    padding: 0;

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 8px 16px;
          line-height: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          position: relative;

          font-size: 20px;
          z-index: 2;
        }
      }

      &.quick-links {
        .nav-item {
          .nav-link {
            font-size: 0.875rem;
            position: relative;
            z-index: 2;
          }

          &:hover {
            .nav-link {
              transition: all 0.1s ease-in-out;
              color: $color-primary !important;

              &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 36px;
                width: 100%;
                border-radius: 7px;
                background: #ecf2ff;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
}

.nav-icon-hover {
  transition: all 0.3s ease-in-out;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 40px;
      z-index: -1;
      border-radius: 100px;
      transition: all 0.3s ease-in-out;
      background-color: #ecf2ff;
    }
  }
}

.navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 200px;

  .dropdown-item {
    border-radius: 8px;
  }
}

.notification {
  content: "";
  position: absolute;
  top: 22px;
  right: 9px;
  width: 8px;
  height: 8px;
}

// @include media-breakpoint-down(lg) {
//   .app-header {
//     .navbar {
//       flex-wrap: nowrap;

//       .navbar-nav {
//         flex-direction: row;
//       }
//     }
//   }
// }

// @include media-breakpoint-down(md) {
//   .navbar-nav .dropdown-menu {
//     position: absolute;
//     width: 100%;
//   }

//   .navbar-nav .nav-item.dropdown {
//     position: static;
//   }
// }

@-webkit-keyframes animation-dropdown-menu-move-up-scroll {
  from {
    top: 71px;
  }

  to {
    top: 70px;
  }
}

@keyframes animation-dropdown-menu-move-up-scroll {
  from {
    top: 71px;
  }

  to {
    top: 70px;
  }
}

@-webkit-keyframes animation-dropdown-menu-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation-dropdown-menu-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown-menu-animate-up {
  -webkit-animation:
    animation-dropdown-menu-fade-in 0.5s ease 1,
    animation-dropdown-menu-move-up 0.5s ease-out 1;
  animation:
    animation-dropdown-menu-fade-in 0.5s ease 1,
    animation-dropdown-menu-move-up 0.5s ease-out 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

// @include media-breakpoint-down(lg) {
//   .w-xs-100 {
//     width: 100% !important;
//   }
// }

// ----------------------------------------------
// Section Features
// ----------------------------------------------

.admin__graphs {
  height: 50px;
}

.table__tools {
  display: flex;
  justify-content: space-between;
}

.admin_graphic {
  // width:  477px !important;
  height: 350px !important;
}

.admin__request {
  position: relative;
  padding: 3rem;
  &-tools {
    margin-bottom: 4rem !important;
  }
  &-tools-list {
    display: flex;
    justify-content: space-between;
  }
}

// .tools__search {
//   width: 400px;
//   box-shadow: 2px 1px 1px $color-primary-light;
// }

.tools__search {
  box-shadow: 2px 1px 1px $color-primary-light;
  font-size: inherit;
  padding: 0rem;
  font-weight: 700;
  display: inline;
  margin-right: 1rem;
  width : 75%;
}

.tools__search::placeholder {
  color: $color-primary-dark; /* Replace with the color you want */
}

// ----------------------------------------------
// Icon Size Style
// ----------------------------------------------

.round-8 {
  width: 8px;
  height: 8px;
}
.round-20 {
  width: 20px !important;
  height: 20px !important;
}
