<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3 class="heading-tertiary">
                    Dashboard
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <div class="card card--graph d-flex justify-content-center align-items-center">
                    <canvas *ngIf="isBrowser" baseChart [data]="requestByIsFreeData" [type]="'doughnut'"
                        [options]="requestByIsFreeChartOptions" class="admin_graphic">
                    </canvas>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="card card--graph d-flex justify-content-center align-items-center">
                    <canvas *ngIf="isBrowser" baseChart [data]="requestByTypeData" [type]="'bar'"
                        [options]="requestByTypeChartOptions" class="admin_graphic">
                    </canvas>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="card card--graph d-flex justify-content-center align-items-center">
                    <canvas *ngIf="isBrowser" baseChart [data]="requestByInstitutionData" [type]="'doughnut'"
                        [options]="requestByInstitutionChartOptions" class="admin_graphic">
                    </canvas>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="card card--graph d-flex justify-content-center align-items-center">
                    <canvas *ngIf="isBrowser" baseChart [data]="participantsByTypeData" [type]="'bar'"
                        [options]="participantsByTypeChartOptions" class="admin_graphic">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="data-table">
            <div class="table-header">
                <div class="table-title">
                    <h3 class="heading-tertiary">
                        Demandes d'Organisation
                        <span class="table_counter">({{requestsCount}})</span>
                    </h3>
                </div>
                <div class="filter-status radio-btn-group">
                    <input type="radio" [(ngModel)]="filterValue" [value]="'Tous'" (change)="applyFilter()" id="all"
                        class="radio-btn">
                    <label for="all">Tous</label>
                    <input type="radio" [(ngModel)]="filterValue" [value]="'Nouveau'" (change)="applyFilter()" id="new"
                        class="radio-btn radio-btn-new">
                    <label for="new">Nouveau</label>
                    <input type="radio" [(ngModel)]="filterValue" [value]="'En cours'" (change)="applyFilter()"
                        id="progress" class="radio-btn radio-btn-inpro">
                    <label for="progress">En cours</label>
                    <input type="radio" [(ngModel)]="filterValue" [value]="'Traité'" (change)="applyFilter()" id="done"
                        class="radio-btn radio-btn-done">
                    <label for="done">Traité</label>
                    <input type="radio" [(ngModel)]="filterValue" [value]="'Annulé'" (change)="applyFilter()"
                        id="canceled" class="radio-btn radio-btn-cancel">
                    <label for="canceled">Annulé</label>
                </div>
                <div class="table-actions">
                    <button class="btn btn-outline-secondary me-1" (click)="deleteSelected()"
                        [disabled]="!anyItemSelected()">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary me-1" (click)="refresh()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary" (click)="exportToExcel()">
                        <i class="fa-solid fa-file-export"></i>
                        Exporter
                    </button>
                </div>
            </div>
            <div class="table-body ">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table_column --small"></th>
                            <th class="table_column --small">Détails</th>
                            <th class="table_column" (click)="sort('status')">
                                Statut
                                <i class="fa" [ngClass]="getSortIcon('status')"></i>
                            </th>
                            <th class="table_column --small">Contact</th>
                            <th class="table_column --small">Préstations</th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="labelFilter" (input)="filter('label', labelFilter)"
                                    class="form__input form__input--coltable" placeholder="Libellé"> <i class="fa"
                                    [ngClass]="getSortIcon('label')" (click)="sort('label')"></i>
                            </th>
                            <th class="table_column --xlarge">
                                <input type="text" [(ngModel)]="descriptionFilter"
                                    (input)="filter('description', descriptionFilter)"
                                    class="form__input form__input--coltable" placeholder="Description"> <i class="fa"
                                    [ngClass]="getSortIcon('description')" (click)="sort('description')"></i>
                            </th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="typeFilter" (input)="filter('type', typeFilter)"
                                    class="form__input form__input--coltable" placeholder="Type"><i class="fa"
                                    [ngClass]="getSortIcon('type')" (click)="sort('type')"></i>
                            </th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="isFreeFilter" (input)="filter('isFree', isFreeFilter)"
                                    class="form__input form__input--coltable" placeholder="Gratuit">
                            </th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="participantsNbFilter"
                                    (input)="filter('participantsNb', participantsNbFilter)"
                                    class="form__input form__input--coltable" placeholder="Participants"><i class="fa"
                                    [ngClass]="getSortIcon('participantsNb')" (click)="sort('participantsNb')"></i>
                            </th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="institutionFilter"
                                    (input)="filter('institution', institutionFilter)"
                                    class="form__input form__input--coltable" placeholder="Institution"><i class="fa"
                                    [ngClass]="getSortIcon('institution')" (click)="sort('institution')"></i>
                            </th>
                            <th class="table_column">
                                <input type="text" [(ngModel)]="committeeLeaderFilter"
                                    (input)="filter('committeeLeader', committeeLeaderFilter)"
                                    class="form__input form__input--coltable" placeholder="Responsable"><i class="fa"
                                    [ngClass]="getSortIcon('committeeLeader')" (click)="sort('committeeLeader')"></i>
                            </th>

                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr class="list--list-item" *ngFor="let request of filteredRequests; let i = index">
                            <td class=""><input type="checkbox" [(ngModel)]="selectedItems[request.id]" /></td>
                            <td class="customtooltip">
                                <i class="far fa-clock"></i>
                                <span class="customtooltiptext">
                                    Date Création : {{request.creationDate}} <br />
                                    Date Modification : {{request.lastModifDate}}
                                </span></td>
                            <td class="">
                                <select class="form__input form__select form__select--coltable form__input--coltable"
                                    id="status" [(ngModel)]="selectedStatusMap[request.id]"
                                    (change)="updateStatus(request.id)"
                                    [ngStyle]="{ 'background-color': getStatusLabelColor(selectedStatusMap[request.id]) }">
                                    <option>Nouveau</option>
                                    <option>En cours</option>
                                    <option>Traité</option>
                                    <option>Annulé</option>
                                </select>
                            </td>


                            <td class="customtooltip">
                                <i class="fas fa-info-circle "></i>
                                <span class="customtooltiptext">
                                    Addresse : {{request.address}} <br />
                                    Téléphone : {{request.phone}} <br />
                                    Email : {{request.email}} <br />
                                    Site Web : {{request.webSite}} <br />
                                    Réseaux Sociaux : <br />
                                    <span *ngFor="let link of request.socialNetworks; let k = index">
                                        {{link}} <br />
                                    </span>
                                </span>
                            </td>
                            <td class="customtooltip">
                                <i class="fas fa-tasks"></i>
                                <span class="customtooltiptext">
                                    <span *ngIf="request.benefits && request.benefits.length > 0; else noBenefits">
                                        <span *ngFor="let benefit of request.benefits; let j = index">
                                            {{ benefit?.label || 'Pas de prestations demandées' }} <br />
                                        </span>
                                    </span>
                                    <ng-template #noBenefits>
                                        Pas de prestations demandées
                                    </ng-template>
                                </span></td>
                            <td class="">{{request.label}}</td>
                            <td class="">{{request.description}}</td>
                            <td class="">{{request.type?.label}}</td>
                            <td>{{ request.isFree ? 'Oui' : 'Non' }}</td>
                            <td class="">{{request.participantsNb}}</td>
                            <td class="">{{request.institution}}</td>
                            <td class="">{{request.committeeLeader}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="page-link" (click)="goToPage(currentPage - 1)"
                                [disabled]="currentPage === 1">Précédent</button>
                        </li>
                        <li class="page-item"><span class="page-link">{{ currentPage }} /
                                {{ totalPages }}</span></li>
                        <li class="page-item">
                            <button class="page-link" (click)="goToPage(currentPage + 1)"
                                [disabled]="currentPage === totalPages">Suivant</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------ ALERT CALL ------------------------------------------------------>
<div class="backdrop" *ngIf="isAlertCalled"></div>
<div class=" form-box " *ngIf="isAlertCalled">
    <div class="form_box__title">
        <h4>Voulez-vous vraiment supprimer définitevement ces demandes ?</h4>
    </div>
    <div *ngIf="errorMessage" class="error-message padding-content">
        {{ errorMessage }}
    </div>
    <div class="form_box__btn">
        <button (click)="onDeleteRequests()" class="btn btn-secondary">Oui </button>
        <button (click)="onCloseAlert()" class="btn btn-light">Annuler </button>
    </div>
</div>
<!------------------------------------------------ END ALERT CALL ------------------------------------------------------>
