@import "../../../sass/main.scss";

// ----------------------------------------------
// Reboot Style
// ----------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: $primary;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  :focus {
    outline: 0;
    box-shadow: none !important;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .calendar-events {
    cursor: move;
  }
  
  .object-fit-cover {
    object-fit: cover;
  }
  

.admin__request {
    position: relative;
    //top : 30px;
    //height : 150px;
    padding: 3rem;
    &-tools {
      margin-bottom : 4rem !important;
    }
    &-tools-list {
      display: flex;
      justify-content: space-between
    }
  
  }
  .tools__search {
    box-shadow: 2px 1px 1px $color-primary-light;
    font-size : inherit;
    padding: 0rem ;
    font-weight: 700;
  }

  .tools__search::placeholder {
    color: $color-primary-dark; /* Replace with the color you want */
  }
  
  .btn-export {
    background-color: $color-primary-dark;
    color: $color-white;
    border-radius : 7px;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .customtooltip {
    position: relative;
    // display: inline-block;
    cursor: pointer;
}

.customtooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: $color-primary-light;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30%; /* Position the tooltip above the text */
    left: 30%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.customtooltip:hover .customtooltiptext {
    visibility: visible;
    opacity: 1;
}

.table__tools {
  display: flex;
  justify-content: space-between;
}


.admin_graphic {
  // width:  477px !important;
  height: 350px !important;
}