<app-navigation></app-navigation>
<!-- Header Start -->
<div class="container-fluid header header-feature bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-4 p-5 header-feature-heading">
            <h1 class="display-5 animated fadeIn mb-4">Portfolio</h1>
            <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Portfolio</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-8 animated fadeIn">
            <div class="header-img header-img-portfolio position-relative overflow-hidden p-5 pe-0">
                <img class="img-fluid mt-5" src="../../../assets/img/features/header_image.png">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-11 text-white text-center">
            </div>
        </div>
    </div>
</div>
<!-- Search End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">EXPLOREZ NOS REALISATIONS</h1>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let poster of posters; let i = index">
                <ng-template carouselSlide>
                    <img [src]="poster.url" [alt]="poster.label" [title]="poster.label" id="{{i}}"
                        class="img-fluid flex-shrink-0 rounded">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
<!-- Testimonial End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">PLONGEZ DANS NOS INSTANTS MEMORABLES</h1>
        </div>
        <div class="row">
            <div class="col-4 " *ngFor="let image of images; let i = index">
                <figure class="card media">
                    <img src="{{image.url}}" alt="" class="media__img">
                    <!-- <figcaption class="media__caption">
                        <p>{{image.description}} </p>
                    </figcaption> -->
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- <section class="section-gallery container">
    <h2 class="line-title heading-secondary">EXPLOREZ NOS REALISATIONS</h2>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let poster of posters; let i = index">
            <ng-template carouselSlide>
                <img [src]="poster.url" [alt]="poster.label" [title]="poster.label" id="{{i}}">
            </ng-template>
        </ng-container>
    </owl-carousel-o>

</section> -->
<!-- <section class="section-gallery container">
    <div class="page_main ">
        <h2 class="line-title heading-secondary"> PLONGEZ DANS NOS INSTANTS MéMORABLES</h2>
        <div class="row">
            <div class="col-4 " *ngFor="let image of images; let i = index">
                <figure class="card media">
                    <img src="{{image.url}}" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>{{image.description}} </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section> -->

<app-footer></app-footer>
