<app-navigation></app-navigation>
<div class="header_contact ">
    <!-- <h1 class="heading-primary">Contactez-Nous !</h1> -->
</div>
<!-- <section class="section-separator"></section> -->
<section class="container d-flex justify-content-center">
    <div class="gallery-wrapper">
        <h2 class="heading-secondary ">
            EXPLOREZ NOS RÉALISATIONS
        </h2>

        <div class="gallery-container" appDragScroll>
            <input class="gallery-input" type="radio" name="slide" id="c1" checked>
            <label for="c1" class="gallery-card" style="background-image: url('../../assets/img/portfolio/Image1.jpg')">
            </label>

            <input class="gallery-input" type="radio" name="slide" id="c2" checked>
            <label for="c2" class="gallery-card" style="background-image: url('../../assets/img/portfolio/Image2.jpg')">
                <div class="row">
                </div>
            </label>

            <input class="gallery-input" type="radio" name="slide" id="c3" checked>
            <label for="c3" class="gallery-card" style="background-image: url('../../assets/img/portfolio/Image6.jpg')">
                <div class="row">
                </div>
            </label>

            <input class="gallery-input" type="radio" name="slide" id="c4" checked>
            <label for="c4" class="gallery-card" style="background-image: url('../../assets/img/portfolio/Image5.jpg')">
                <div class="row">
                </div>
            </label>
        </div>
    </div>
</section>
<section class="section-gallery container">
    <div class="page_main ">
        <div class="section-gallery__heading d-flex justify-content-center">
            <h2 class="heading-secondary">
                PLONGEZ DANS NOS INSTANTS MéMORABLES
            </h2>
        </div>

        <div class="row">
            <div class="col-4">
                <figure class="card media">
                    <img src="../../assets/img/portfolio/Image8.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/portfolio/Image9.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/portfolio/Image10.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/portfolio/Image11.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/portfolio/Image12.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/header-image.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="card media d-flex">
                    <img src="../../assets/img/header-image.jpg" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>La joie des autres est une grande
                            part
                            de la
                            nôtre. </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
