<app-navigation></app-navigation>
<div class="header_contact ">
</div>
<section class="section-gallery container">
    <h2 class="line-title heading-secondary">EXPLOREZ NOS REALISATIONS</h2>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let poster of posters; let i = index">
            <ng-template carouselSlide >
                <img [src]="poster.url" [alt]="poster.label" [title]="poster.label" id="{{i}}">
              </ng-template>
        </ng-container>
      </owl-carousel-o>
    
</section>
<section class="section-gallery container">
    <div class="page_main ">
        <h2 class="line-title heading-secondary"> PLONGEZ DANS NOS INSTANTS MéMORABLES</h2>
        <div class="row">
            <div class="col-4 " *ngFor="let image of images; let i = index">
                <figure class="card media">
                    <img src="{{image.url}}" alt="" class="media__img">
                    <figcaption class="media__caption">
                        <p>{{image.description}} </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
