/********** Template CSS **********/
:root {
    /* --primary: #00B98E; */
    /* --secondary: #FF6922; */
    /* --light: #EFFDF5; */
    --primary: cornflowerblue;
    --secondary: brown;
    --light: #f0f7fd;
    --dark: #0E2E50;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }

    .header-feature {
        margin-top: -200px;
    }
}

.header-feature-heading {
    margin-top: 200px;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}

/*** Header image ***/
.header-img img {
    position: relative;
    z-index: 2;
    height: 300px;
    top: 120px;
}

.header-img::before {
    position: absolute;
    content: "";
    top: 0;
    right: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(-15deg);
    z-index: 0;
}

.header-img::after {
    content: "\f129";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 56px;
    font-weight: bold;
    position: relative;
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    top: -50px;
    left: 25%;
}

.header-img-about::after {
    content: "\f129";
}

.header-img-portfolio::after {
    content: "\f07c";
}

.header-img-request::after {
    content: "\f1d8";
}

.header-img-contact::after {
    content: "\f095";
}

/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* -------- Landing page ------- */
.owl-stage-outer {
    height: 410px;
}

.owl-carousel .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px !important;
    margin: 0px 15px;
    padding: 5px 15px;
    background: linear-gradient(135deg, var(--light), var(--primary), var(--light));
}

.owl-carousel .owl-item img {
    max-height: 350px;
}

.owl-theme .owl-nav [class*="owl-"] {
    margin-top: 10px !important;
    background-color: var(--primary) !important;
}

/* ----------------------------------------------
// Admin Layout Style
// ----------------------------------------------*/
.page-wrapper {
    background-color: var(--light);
}

.admin-container {
    padding: 50px 25px;
    margin-left: 200px;
    margin-top: 3rem;
    background-color: white;
}


#main-wrapper[data-layout="vertical"] {
    &[data-sidebar-position="fixed"] {
        .left-sidebar {
            position: fixed;
            top: 0;
        }
    }
}

/* ----------------------------------------------
// SideBar Style
// ---------------------------------------------- */

.left-sidebar {
    width: 180px;
    height: 100vh;
    background-color: var(--light);
    position: absolute;
    transition: 0.2s ease-in;
    z-index: 11;
}

.brand-logo {
    min-height: 70px;
}

.nav-small-cap {
    margin-top: 24px;
    color: var(--secondary);
    font-size: 12px;
    font-weight: 700;
    padding: 3px 12px;
    line-height: 26px;
    text-transform: uppercase;

    .nav-small-cap-icon {
        display: none;
    }
}

.sidebar-nav {
    ul {
        list-style: none;
        padding-left: 0rem;

        .sidebar-item {
            .sidebar-link {
                color: #2a3547;
                display: flex;
                font-size: 14px;
                white-space: nowrap;
                align-items: center;
                line-height: 25px;
                position: relative;
                margin: 0px 0px 2px;
                padding: 10px;
                border-radius: 7px;
                gap: 15px;
                font-weight: 400;

                span:first-child {
                    display: flex;
                }

                .ti {
                    flex-shrink: 0;
                    font-size: 21px;
                }

                &:hover {
                    background-color: var(--primary);
                    color: white;

                    &.has-arrow::after {
                        border-color: white;
                    }
                }
            }

            .sidebar-link.active {
                &:hover {
                    &.has-arrow::after {
                        border-color: white;
                    }
                }
            }

            .link-disabled {
                opacity: 0.38;
            }

            &.selected>.sidebar-link.active,
            &.selected>.sidebar-link,
            >.sidebar-link.active {
                background-color: var(--secondary);
                color: white;
            }
        }
    }

    .sidebar-list {
        .sidebar-list-item {
            padding: 8px 0;
        }
    }
}

.collapse.in {
    display: block;
}

/* ----------------------------------------------
// Admin Graphs
// ---------------------------------------------- */

.card--graph {
    width: 520px;
    height: 240px;
    margin-bottom: 30px;
}

/* ----------------------------------------------
// Admin Table Style
// ----------------------------------------------*/

.data-table {
    margin: 20px 0;
    border: 1px solid var(--dark);

    h3 {
        margin-bottom: 0;
    }
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    border: 1px solid var(--dark);
    padding: 15px;
}

.table-title {
    font-size: 15px;
    font-weight: bold;
}

.table-counter {
    font-size: 10px;
    color: #6c757d;
}

.table-actions {
    display: flex;
}

.table_pagination {
    display: flex;
    justify-content: center;

    .page-link {
        color: white;
        background-color: var(--primary);
        font-size: 11px;

        &:hover {
            color: white;
            background-color: var(--primary);
        }
    }
}

.table_column {
    width: 100px;
    border: 1px solid var(--dark);

    :is(--small) {
        width: 50px;
    }

    :is(--large) {
        width: 150px;
    }

    :is(--xlarge) {
        width: 250px;
    }
}

thead,
th {
    background-color: var(--light);
}

td,
th {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.coltable_img img {
    height: 100px;
}

.table> :not(caption)>*>* {
    padding: 0.1rem 0.1rem;
}

.form__input--coltable {
    padding: 0;
    width: 75%;
    display: inline;
    border: none;
    margin-right: 10px;
    background-color: transparent;

    &::placeholder {
        color: black;
        font-weight: bold;
        font-size: 12px;
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    &:focus::placeholder {
        color: gainsboro;
    }
}

.form__select--coltable {
    font-size: 12px;
    padding: 5px;
}


/* ----------------------------------------------
// Tooltip Style
// ----------------------------------------------*/
.customtooltip {
    position: relative;
    cursor: pointer;
}

.customtooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    /* Position the tooltip above the text */
    left: 30%;
    margin-left: -60px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.customtooltip:hover .customtooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ----------------------------------------------
// Radio button
// ----------------------------------------------*/


.radio-btn-group {
    font-size: 16px;
}

.radio-btn:checked,
.radio-btn:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-btn:checked+label,
.radio-btn:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    margin-right: 15px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.radio-btn:checked+label:before,
.radio-btn:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--primary);
    border-radius: 30%;
    background: #fff;
}

.radio-btn:checked+label:after,
.radio-btn:not(:checked)+label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--primary);
    position: absolute;
    top: 4.8px;
    left: 4.8px;
    border-radius: 30%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-btn:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-btn:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-btn-new:checked+label:before,
.radio-btn-new:not(:checked)+label:before {
    background: #FFF176;
}

.radio-btn-inpro:checked+label:before,
.radio-btn-inpro:not(:checked)+label:before {
    background: #81C784;
}


.radio-btn-done:checked+label:before,
.radio-btn-done:not(:checked)+label:before {
    background: #64B5F6;
}

.radio-btn-cancel:checked+label:before,
.radio-btn-cancel:not(:checked)+label:before {
    background: #B0BEC5;
}

/* ----------------------------------------------
// Popup
// ----------------------------------------------*/
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Box shadow for a subtle lift */
    width: 600px;
    /* Adjust width as needed */
    max-height: 650px;
    /* Set a maximum height for the content */
    overflow-y: auto;
    /* Enable vertical scrolling if content exceeds the max height */
    padding: 25px 35px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2000;
}

/* ----------------------------------------------
// Popup Delete Form
// ----------------------------------------------*/
.form-box {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 30vw;
    z-index: 4000;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}

.form_box__title {
    padding: 1.5rem 2rem;
    background-color: var(--light);
    font-weight: 500;
}

.form_box__btn {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-around;

    .btn {
        width: 80px;
    }
}

/* ----------------------------------------------
// Popup Add Form
// ----------------------------------------------*/

.close-btn {
    float: right;
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
}

/* ----------------------------------------------
// Form Inputs
// ----------------------------------------------*/
.form__checkbox-group {
    display: flex;
    flex-direction: column;
}

.form__checkbox {
    display: none;
    /* Hide the default checkbox */
}

.form__checkbox-label {
    padding-left: 0;
}

.form__checkbox-label::before {
    content: "";
    display: inline-block;
    width: 15px;
    /* Adjust as needed */
    height: 15px;
    /* Adjust as needed */
    margin-right: 5px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    /* Adjust as needed */
    border-radius: 3px;
    /* Adjust as needed */
    background-color: #fff;
    /* Adjust as needed */
}

.form__checkbox:checked+.form__checkbox-label::before {
    background-color: var(--primary);
    /* Adjust as needed */
    border-color: var(--primary);
    /* Adjust as needed */
}

/* Additional styling for visual feedback when hovering over the label */
.form__checkbox-label:hover::before {
    border-color: var(--primary);
    /* Adjust as needed */
}

.required:after {
    color: var(--secondary);
    content: "*";
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.radio-wrapper {
    width: 120px;
    height: 33px;
    display: block;
    /* vertical-align: middle; */
    border: 2px solid var(--primary);
    border-radius: 20px;
    position: relative;
    margin-left: 1%;

    .radio__p {
        position: absolute;
        z-index: 10;
        font-size: 1.3em;
        margin: 0;
    }

    .wrong {
        left: 10px;
    }

    .correct {
        right: 10px;
        top: -3px;
    }

    .neutral-icon {
        left: 40px;
        top: -5px;
        opacity: 0.5;
    }

    .radio_label {
        z-index: 9;
    }
}

.radio-switch {
    display: none;
}

.neutral-icon i {
    font-size: 10px;
}

.neutral+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    transition: transform 1s;
    font-size: 10px;
}

.neutral:checked+label {
    border: 2px solid var(--primary);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #D3D3D3;
}

.yes+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    text-align: center;
}

.yes:checked+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary) color: white;
    border: 2px solid var(--primary) -moz-animation-duration: 0.4s;
    -moz-animation-name: slideno;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slideno;
    animation-duration: 0.4s;
    animation-name: slideno;
    -webkit-transform: translateZ(0);
}

.no+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    text-align: center;
}

.no:checked+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    -moz-animation-duration: 0.4s;
    -moz-animation-name: slidein;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slidein;
    animation-duration: 0.4s;
    animation-name: slidein;
    -webkit-transform: translateZ(0);
}

.radio_label {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@keyframes slidein {
    from {
        transform: translate(30px, 0);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes slideno {
    from {
        transform: translate(-30px, 0);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes returnLeft {
    from {
        transform: translate(-30px, 0);
    }

    to {
        transform: translate(0px, 0);
    }
}

@keyframes returnRight {
    from {
        transform: translate(30px, 0);
    }

    to {
        transform: translate(0px, 0);
    }
}

.error-msg {
    font-size: 0.95rem !important;
    color: var(--secondary);
}

/* ----------------------------------------------
// Login Page
// ----------------------------------------------*/
.registration {
    height: 100vh;
}

.registration__content {
    height: 100%;
}

.registration__image {
    height: 100vh;
    padding-top: 9.6rem;
    float: right;
}

.registration__form {
    padding: 15rem 15rem 10rem 5rem;
}

.card--registration {
    height: max-content;
}

.card--registration__header {
    background-color: var(--primary);

    /* margin: -2rem -3rem 2rem;
    height: 20%;
    padding: 2rem; */
}

.card--registration__header h3 {
    color: white;
}
