<app-navigation></app-navigation>


<div class="header_contact ">
    <!-- <h1 class="heading-primary">Contactez-Nous !</h1> -->
</div>
<section class="section-separator"></section>
<!----------------------------------------------- HEADER AND SECTION ABOUT ------------------------------------------->
<header class="header_about">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="heading-primary ">Qui Sommes Nous !</h1>
                <div class="header_about__about">
                    <p class=" paragraph paragraph__about">
                        Le centre de formation et de consulting <a href="https://ilmasuccess.com/" target="_blank">ILMA
                            SUCCESS</a>
                        affilié de la société JU2 COM, intervient
                        principalement dans le domaine de la formation. Nous proposons des formations aux clients
                        particuliers et aux entreprises mais aussi des fonctionnalités pour organiser votre événement et
                        ceci via la plateforme ILMA EVENT.
                        <br />
                        <br />
                        ILMA EVENT se distingue en tant qu'agence dévouée, offrant un accompagnement complet pour
                        l'organisation de divers événements, quel que soit leur type et domaine. Notre plateforme web
                        intuitive facilite le processus en permettant aux utilisateurs de fournir des informations
                        préalables sur leur événement. Cette étape initiale ouvre la voie à une collaboration avec ILMA
                        EVENT, où notre équipe dédiée prend en charge chaque aspect de la planification et de
                        l'exécution de l'événement, tant avant que pendant. Notre page de contact est conçue pour offrir
                        une accessibilité maximale, fournissant une gamme variée de moyens pour entrer en contact avec
                        ILMA EVENT, garantissant ainsi une assistance optimale à chaque étape du processus
                        d'organisation événementielle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!----------------------------------------------- END HEADER AND SECTION ABOUT ------------------------------------------->

<!----------------------------------------------- SECTION MISSIONS ------------------------------------------------------->
<section class="section-missions" id="missions">
    <div class="section-missions__heading">
        <h2 class="heading-secondary">Nos Valeurs</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-cogs" aria-hidden="true"></i>
                    <h3 class="heading-tertiary">Centralisation Simplifiée</h3>
                    <p> ILMA EVENT offre une plateforme centralisée et facile à utiliser qui simplifie la gestion
                        complète des événements. De la planification des horaires à la gestion minutieuse de la
                        logistique, ILMA EVENT optimise chaque aspect de vos événements, offrant une solution intuitive
                        pour centraliser toutes les opérations liées à l'organisation d'événements.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-hands-helping" aria-hidden="true"></i>
                    <h3 class="heading-tertiary">Accompagnement Complet</h3>
                    <p> En tant qu'agence dévouée, ILMA EVENT assure un accompagnement complet pour l'organisation
                        d'événements. De la phase initiale, où les utilisateurs fournissent des informations préalables
                        sur leur événement, à la collaboration avec l'équipe dédiée d'ILMA EVENT qui prend en charge la
                        planification et l'exécution, l'accompagnement est assuré à chaque étape du processus.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-headset" aria-hidden="true"></i>
                    <h3 class="heading-tertiary">Accessibilité
                        Optimale</h3>
                    <p> ILMA EVENT s'engage à offrir une accessibilité maximale à ses clients. La page de contact est
                        conçue de manière à fournir une gamme variée de moyens pour entrer en contact avec ILMA EVENT.
                        Cette approche garantit une assistance optimale tout au long du processus d'organisation
                        événementielle, soulignant l'importance de la communication fluide et efficace.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------------------  AND SECTION MISSIONS ------------------------------------------->

<!-----------------------------------------------   SECTION MEMBERS ----------------------------------------------->
<section class="section-members" id="members">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h1 class="heading-primary mt-4">Nos Partenaires</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/casa-env-noBG.png" alt="Casa Env">
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/moroccan-center-noBG.png" alt=" Centre Marocain">
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/ju2com-noBG.png" alt="Ju2Com">
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/vizigan-noBG.png" alt="Vizigan">
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/amriDigital-noBG.png" alt="Amri Digital">
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card--transparent card--transparent__header">
                    <img src="../../assets/img/venessa-noBG.png" alt="Venessa">
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------------- END SECTION MEMBERS ------------------------------------------->
<app-footer></app-footer>
