<app-navigation></app-navigation>
<!-- Header Start -->
<div class="container-fluid header header-feature bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-4 p-5 header-feature-heading">
            <h1 class="display-5 animated fadeIn mb-4">A Propos</h1>
            <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">A Propos</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-8 animated fadeIn">
            <div class="header-img header-img-about position-relative overflow-hidden p-5 pe-0">
                <img class="img-fluid mt-5" src="../../../assets/img/features/header_image.png">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-11 text-white text-center">
            </div>
        </div>
    </div>
</div>
<!-- Search End -->

<!-- About Us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">Qui Sommes Nous !</h1>
        </div>
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                        <p class=" paragraph paragraph__about">
                            Le centre de formation et de consulting <a href="https://ilmasuccess.com/"
                                target="_blank">ILMA
                                SUCCESS</a>
                            affilié de la société JU2 COM, intervient
                            principalement dans le domaine de la formation. Nous proposons des formations aux clients
                            particuliers et aux entreprises mais aussi des fonctionnalités pour organiser votre
                            événement et
                            ceci via la plateforme ILMA EVENT.
                            <br />
                            <br />
                            ILMA EVENT se distingue en tant qu'agence dévouée, offrant un accompagnement complet pour
                            l'organisation de divers événements, quel que soit leur type et domaine. Notre plateforme
                            web
                            intuitive facilite le processus en permettant aux utilisateurs de fournir des informations
                            préalables sur leur événement. Cette étape initiale ouvre la voie à une collaboration avec
                            ILMA
                            EVENT, où notre équipe dédiée prend en charge chaque aspect de la planification et de
                            l'exécution de l'événement, tant avant que pendant. Notre page de contact est conçue pour
                            offrir
                            une accessibilité maximale, fournissant une gamme variée de moyens pour entrer en contact
                            avec
                            ILMA EVENT, garantissant ainsi une assistance optimale à chaque étape du processus
                            d'organisation événementielle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us End -->


<!-- Values Start -->
<div class="container-xxl py-5" style="min-height: 800px;">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-3">Nos Valeurs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="cat-item d-block bg-light text-center rounded p-3">
                    <div class="rounded p-4" style="min-height: 450px;">
                        <i class="fas fa-cogs" aria-hidden="true"></i>
                        <h3 class="heading-tertiary">Centralisation Simplifiée</h3>
                        <p> ILMA EVENT offre une plateforme centralisée et facile à utiliser qui simplifie la
                            gestion
                            complète des événements. De la planification des horaires à la gestion minutieuse de la
                            logistique, ILMA EVENT optimise chaque aspect de vos événements, offrant une solution
                            intuitive
                            pour centraliser toutes les opérations liées à l'organisation d'événements.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="cat-item d-block bg-light text-center rounded p-3">
                    <div class="rounded p-4" style="min-height: 450px;">
                        <i class="fas fa-hands-helping" aria-hidden="true"></i>
                        <h3 class="heading-tertiary">Accompagnement Complet</h3>
                        <p> En tant qu'agence dévouée, ILMA EVENT assure un accompagnement complet pour
                            l'organisation
                            d'événements. De la phase initiale, où les utilisateurs fournissent des informations
                            préalables
                            sur leur événement, à la collaboration avec l'équipe dédiée d'ILMA EVENT qui prend en
                            charge la
                            planification et l'exécution, l'accompagnement est assuré à chaque étape du processus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="cat-item d-block bg-light text-center rounded p-3">
                    <div class="rounded p-4" style="min-height: 450px;">
                        <i class="fas fa-headset" aria-hidden="true"></i>
                        <h3 class="heading-tertiary">Accessibilité
                            Optimale</h3>
                        <p> ILMA EVENT s'engage à offrir une accessibilité maximale à ses clients. La page de
                            contact est
                            conçue de manière à fournir une gamme variée de moyens pour entrer en contact avec ILMA
                            EVENT.
                            Cette approche garantit une assistance optimale tout au long du processus d'organisation
                            événementielle, soulignant l'importance de la communication fluide et efficace.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Values End -->
<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">

    <div class="container">
        <div class="row text-center mb-5">
            <h2 class="text-white ">Nos Partenaires</h2>
        </div>
        <div class="row">
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/casa-env-noBG.png" alt="Casa Env">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/moroccan-center-noBG.png" alt=" Centre Marocain">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/ju2com-noBG.png" alt="Ju2Com">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/vizigan-noBG.png" alt="Vizigan">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/amriDigital-noBG.png" alt="Amri Digital">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/venessa-noBG.png" alt="Venessa">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->

<app-footer></app-footer>
