<app-navigation></app-navigation>
<section class="section-separator"></section>
<!----------------------------------------------- HEADER AND SECTION ABOUT ------------------------------------------->
<header class="header_about">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="heading-primary ">Qui Sommes Nous !</h1>
                <div class="header_about__about">
                    <p class=" paragraph">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolores deleniti
                        voluptates numquam necessitatibus delectus eius quae? Hic asperiores voluptatum numquam
                        blanditiis earum libero a, in perspiciatis dignissimos unde nemo.
                    </p>
                    <br />
                    <h4 class="heading-tertiary">HISTOIRE</h4>
                    <p class=" paragraph">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolores deleniti
                        voluptates numquam necessitatibus delectus eius quae? Hic asperiores voluptatum numquam
                        blanditiis earum libero a, in perspiciatis dignissimos unde nemo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!----------------------------------------------- END HEADER AND SECTION ABOUT ------------------------------------------->

<!----------------------------------------------- SECTION MISSIONS ------------------------------------------------------->
<section class="section-missions" id="missions">
    <div class="section-missions__heading">
        <h2 class="heading-secondary">Nos Valeurs</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header__icon">
                        <i class="fa fa-child" aria-hidden="true"></i>
                    </div>
                    <h3 class="card-header__title">Insersion sociale</h3>
                </div>
                <div class="card-body">
                    <p class=" paragraph paragraph--md">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolores deleniti
                        voluptates numquam necessitatibus delectus eius quae? Hic asperiores voluptatum numquam
                        blanditiis earum libero a, in perspiciatis dignissimos unde nemo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header__icon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                    <h3 class="card-header__title">Intégration scolaire</h3>
                </div>
                <div class="card-body">
                    <p class=" paragraph paragraph--md">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolores deleniti
                        voluptates numquam necessitatibus delectus eius quae? Hic asperiores voluptatum numquam
                        blanditiis earum libero a, in perspiciatis dignissimos unde nemo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header__icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h3 class="card-header__title">Soutien scolaire</h3>
                </div>
                <div class="card-body">
                    <p class=" paragraph paragraph--md">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur dolores deleniti
                        voluptates numquam necessitatibus delectus eius quae? Hic asperiores voluptatum numquam
                        blanditiis earum libero a, in perspiciatis dignissimos unde nemo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------------------  AND SECTION MISSIONS ------------------------------------------->

<!-----------------------------------------------   SECTION MEMBERS ----------------------------------------------->
<section class="section-members" id="members">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h2 class="heading-primary text-white mt-4">Nos Partenaires</h2>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-3">
                <div class="card card--transparent">
                    <img src="../../assets/img/FSBM.png" alt="FSBM">
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="card card--transparent">
                    <img src="../../assets/img/casa-env.gif" alt="Casa Env">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card--transparent">
                    <img src="../../assets/img/moroccan-center.png" alt="Centre Marocain">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card--transparent">
                    <img src="../../assets/img/ju2com.jpg" alt="Ju2Com">
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------------- END SECTION MEMBERS ------------------------------------------->
<app-footer></app-footer>
