<div class="row admin__request-tools">
    <ul class="admin__request-tools-list">
      <li>
        <input type="text" class="form__input tools__search" placeholder="Recherche" id="search">
      </li>
      <li>
        <button class="btn btn-sm btn-export" (click)="openAddBenefitPopup()">Ajouter</button>
      </li>
    </ul>
  </div>
  <div class="row admin__request-table">
    <h3>Préstations</h3>
    <table class="table mt-5">
      <thead>
        <tr>   
            <th>Détails</th>
          <th>Code</th>
          <th>Libellé</th>
          <th>Description</th>
          <th>Ordre</th>
          <th>Actif</th>
       
        </tr>
      </thead>
      <tbody class="list">
        <tr class="list--list-item"  *ngFor="let benefit of benefits; let i = index">
            <td class="customtooltip">        
                <i class="far fa-clock"></i>
                <span class="customtooltiptext">
                    Date Création :  {{benefit.creationDate}} <br />
                    Date Modification :  {{benefit.lastModifDate}}
                </span>
            </td>
            <td class="">{{benefit.code}}</td>
            <td class="">{{benefit.label}}</td>
            <td class="">{{benefit.description}}</td>
            <td class="">{{benefit.rank}}</td>
            <td class="">{{benefit.active? 'Oui' : 'Non'}}</td>
            
            <td class=""> 
                <a type="button" (click)="onEditBenefit(benefit.id)" class="mr-3"><i class="fa fa-pencil"
                    aria-hidden="true"></i></a>
            </td>
            <td class="">   
                <a type="button" (click)="onCallDeleteBenefit(benefit.id,i)"><i class="fa fa-trash"
                    aria-hidden="true"></i></a>   
            </td>

        </tr>
      </tbody>
    </table>
  </div>


  <!------------------------------------------------ ADD NEW BENEFIT POPUP ------------------------------------------------------>
<app-add-benefit-popup
*ngIf="isAddBenefitPopupOpen"
(close)="closeAddBenefitPopup()"
(submit)="onBenefitFormSubmit($event)"
></app-add-benefit-popup>
  <!------------------------------------------------ END ADD NEW BENEFIT POPUP ------------------------------------------------------>
<!------------------------------------------------ ALERT CALL ------------------------------------------------------>
<div class="backdrop" *ngIf="isAlertCalled"></div>
<div class=" form-box " *ngIf="isAlertCalled">
        <h4>Voulez-vous vraiment supprimer cette préstation ?</h4>
    <div class="form_box__btn">
            <button (click)="onDeleteBenefit()" class="btn btn--warning">Oui </button>
            <button class="btn btn--secondary" (click)="onCloseAlert()">Annuler </button>
    </div>
</div>
<!------------------------------------------------ END ALERT CALL ------------------------------------------------------>




  