<div class="row admin__request-tools">
  <ul class="admin__request-tools-list">
    <li>
      <button class="btn btn-sm btn-export" (click)="openAddBenefitPopup()"><i class="fa fa-add"></i> Ajouter</button>
    </li>
  </ul>
</div>
<div class="row admin__request-table">
  <h3>Préstations ({{benefitsCount}})</h3>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>Détails</th>
        <th > 
          <input type="text" [(ngModel)]="codeFilter" (input)="filter('code', codeFilter)"
            class="form__input tools__search" placeholder="Code"> <i class="fa" [ngClass]="getSortIcon('code')" (click)="sort('code')"></i>
        </th>
        <th>
          <input type="text" [(ngModel)]="labelFilter" (input)="filter('label', labelFilter)"
            class="form__input tools__search" placeholder="Libellé"> <i class="fa" [ngClass]="getSortIcon('label')" (click)="sort('label')"></i>
        </th>
        <th>
          <input type="text" [(ngModel)]="descriptionFilter" (input)="filter('description', descriptionFilter)"
            class="form__input tools__search" placeholder="Description"> <i class="fa" [ngClass]="getSortIcon('description')" (click)="sort('description')"></i>
        </th>
        <th>
          <input type="text" [(ngModel)]="rankFilter" (input)="filter('rank', rankFilter)"
            class="form__input tools__search" placeholder="Ordre"><i class="fa" [ngClass]="getSortIcon('rank')" (click)="sort('rank')"></i>
        </th>
        <th>
          <input type="text" [(ngModel)]="activeFilter" (input)="filter('active', activeFilter)"
            class="form__input tools__search" placeholder="Actif">
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <tr class="list--list-item" *ngFor="let benefit of filteredBenefits; let i = index">
        <td class="customtooltip">
          <i class="far fa-clock"></i>
          <span class="customtooltiptext">
            Date Création : {{benefit.creationDate}} <br />
            Date Modification : {{benefit.lastModifDate}}
          </span>
        </td>
        <td class="">{{benefit.code}}</td>
        <td class="">{{benefit.label}}</td>
        <td class="">{{benefit.description}}</td>
        <td class="">{{benefit.rank}}</td>
        <td class="">{{benefit.active? 'Oui' : 'Non'}}</td>

        <td class="">
          <a type="button" (click)="onEditBenefit(benefit.id)" class="mr-3"><i class="fa fa-pencil"
              aria-hidden="true"></i></a>
        </td>
        <td class="">
          <a type="button" (click)="onCallDeleteBenefit(benefit.id,i)"><i class="fa fa-trash"
              aria-hidden="true"></i></a>
        </td>

      </tr>
    </tbody>
  </table>
</div>


<!------------------------------------------------ ADD NEW BENEFIT POPUP ------------------------------------------------------>
<app-add-benefit *ngIf="isAddBenefitPopupOpen" (close)="closeAddBenefitPopup()" (submit)="onBenefitFormSubmit($event)"
  [benefitId]="benefitId">
</app-add-benefit>
<!------------------------------------------------ END ADD NEW BENEFIT POPUP ------------------------------------------------------>
<!------------------------------------------------ ALERT CALL ------------------------------------------------------>
<div class="backdrop" *ngIf="isAlertCalled"></div>
<div class=" form-box " *ngIf="isAlertCalled">
  <h4>Voulez-vous vraiment supprimer cette préstation ?</h4>
  <div class="form_box__btn">
    <button (click)="onDeleteBenefit()" class="btn btn--warning">Oui </button>
    <button class="btn btn--secondary" (click)="onCloseAlert()">Annuler </button>
  </div>
</div>
<!------------------------------------------------ END ALERT CALL ------------------------------------------------------>
