<app-navigation></app-navigation>
<header class="header">
    <div class="row header__content">
        <div class="col-md-6 col-12">
            <div class="header__image_container">
                <img class="header__image" src="../../../assets/img/header_image.png" alt="Header Image">
            </div>
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center vh-100">
            <div class="header__description">
                <h1 class="heading-primary">ILMA EVENT</h1>
                <h2 class="heading-tertiary">Organiser votre événement avec ILMA SUCCESS</h2>
                <p>De la planification des horaires aux détails des plans, de l'établissement d'un budget prévisionnel à
                    la gestion minutieuse de la logistique et du personnel, ILMA EVENT offre toutes les
                    fonctionnalités essentielles pour optimiser chaque aspect de vos événements. Centralisez la gestion
                    complète de vos événements sur une seule plateforme. Facile à utiliser, ILMA EVENT vous accompagne à
                    chaque étape de la réalisation de votre événement, simplifiant ainsi l'ensemble du processus.
                </p>
                <a href="/form" class="btn btn--important btn--sm mt-3">Organiser</a>
            </div>
        </div>
    </div>
</header>
<section class="section-partner-header">

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h4 class="mt-5">Nos Partenaires</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/casa-env-noBG.png" alt="Casa Env">
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/moroccan-center-noBG.png" alt=" Centre Marocain">
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/ju2com-noBG.png" alt="Ju2Com">
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/vizigan-noBG.png" alt="Vizigan">
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/amriDigital-noBG.png" alt="Amri Digital">
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="card card--transparent card--transparent__header">
                <img src="../../assets/img/venessa-noBG.png" alt="Venessa">
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="heading-secondary">
                PLONGEZ DANS L'EXCELLENCE AVEC ILMA EVENT
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="padding-content">
                <p>
                    Organiser des événements constitue la principale mission de notre centre ILMA SUCCESS, affilié à la
                    Société JU2 COM. Nous sommes fiers de présenter notre concept exclusif d'organisation d'événements,
                    connu sous le nom d'ILMA EVENT.
                    Que ce soit pour une prestation complète, de A à Z, ou une
                    intervention partielle, ILMA EVENT propose ses services pour divers événements professionnels tels
                    que des formations, des conférences, des congrès, des conventions d'entreprise, des salons, des
                    séminaires, des soirées d'entreprise, des team buildings et des voyages d'affaires. Notre équipe
                    compétente, composée d'une équipe commerciale, d'une équipe marketing, d'une équipe de
                    communication, d'un chef de projet événementiel et d'un chargé de relations publiques, est prête à
                    donner vie à vos idées et à faire de chaque événement un succès mémorable.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="padding-content">
                <p>
                    Les tâches de ILMA EVENT sont très diversifiées. Mais voici son mode de fonctionnement :
                </p>
                <ul class="list">
                    <li>
                        Élaboration d’un cahier de charge qui détermine les objectifs de la prestation et les
                        besoins avant, pendant et après l’évènement.
                    </li>
                    <li>
                        Mis en place des outils évènementiels.
                    </li>
                    <li>
                        Création des supports marketing.
                    </li>
                    <li>
                        Réalisation des tâches : recherche d’une salle de réception, des prestataires
                        (traiteur, animateurs, imprimeurs, etc.).
                    </li>
                    <li>
                        Suivi et feedback.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-features">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="heading-secondary">
                    EXPLOREZ LES PRéSTATIONS ILMA EVENT
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let benefit of benefits; let i=index;">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="{{ benefit.icone}} card__icon pb-4"></i>
                        <h3 class="heading-tertiary">{{ benefit.label}}</h3>
                        <p>{{ benefit.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>
