<!-- Navbar Start -->
<app-navigation></app-navigation>
<!-- Navbar End -->
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Organiser Votre Evénement Avec <span class="text-primary">ILMA
                    EVENT</span> </h1>
            <p class="animated fadeIn mb-4 pb-2">Planifiez, budgetisez, gérez. ILMA EVENT simplifie chaque aspect de
                vos événements. Centralisez la gestion sur une plateforme conviviale, pour un processus sans tracas.
            </p>
            <a href="/form" class="btn btn-primary py-3 px-5 me-3 animated fadeIn" style=" font-size: x-large;"><i
                    class="far fa-paper-plane
                me-3"></i>Organiser</a>
            <!-- <a href="/form" class="btn btn-white text-secondary py-3 px-5 me-2 animated fadeIn"
                style="border: none; font-size: x-large;">
                <i class="far fa-paper-plane me-3"></i>Organiser</a> -->
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="../../../assets/img/features/header_image.png">
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">

    <div class="container">
        <div class="row text-center mb-5">
            <h4 class="text-white ">Partenaires</h4>
        </div>
        <div class="row">
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/casa-env-noBG.png" alt="Casa Env">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/moroccan-center-noBG.png" alt=" Centre Marocain">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/ju2com-noBG.png" alt="Ju2Com">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/vizigan-noBG.png" alt="Vizigan">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/amriDigital-noBG.png" alt="Amri Digital">
                </div>
            </div>
            <div class="col-lg-2 col-4  mb-1">
                <div class="card card-transparent">
                    <img src="../../assets/img/partners/venessa-noBG.png" alt="Venessa">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="cat-item d-block bg-light  p-3">
                    <p class="mb-4"> Organiser des événements constitue la principale mission de notre centre ILMA
                        SUCCESS, affilié à la
                        Société JU2 COM. Nous sommes fiers de présenter notre concept exclusif d'organisation
                        d'événements,
                        connu sous le nom d'ILMA EVENT.
                        Que ce soit pour une prestation complète, de A à Z, ou une
                        intervention partielle. <br /> ILMA EVENT propose ses services pour divers événements
                        professionnels tels
                        que des formations, des conférences, des congrès, des conventions d'entreprise, des salons,
                        des
                        séminaires, des soirées d'entreprise, des team buildings et des voyages d'affaires. Notre
                        équipe
                        compétente, composée d'une équipe commerciale, d'une équipe marketing, d'une équipe de
                        communication, d'un chef de projet événementiel et d'un chargé de relations publiques, est
                        prête à
                        donner vie à vos idées et à faire de chaque événement un succès mémorable.</p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Plongez Dans L'éxcellence ILMA EVENT</h1>
                <p class="mb-4"> Les tâches de ILMA EVENT sont très diversifiées. Mais voici son mode de
                    fonctionnement :</p>
                <p><i class="fa fa-check text-primary me-3"></i> Élaboration d’un cahier de charge qui détermine les
                    objectifs de la prestation et les
                    besoins avant, pendant et après l’évènement.</p>
                <p><i class="fa fa-check text-primary me-3"></i> Mis en place des outils évènementiels.</p>
                <p><i class="fa fa-check text-primary me-3"></i> Création des supports marketing.</p>
                <p><i class="fa fa-check text-primary me-3"></i> Réalisation des tâches : recherche d’une salle de
                    réception, des prestataires
                    (traiteur, animateurs, imprimeurs, etc.).</p>
                <p><i class="fa fa-check text-primary me-3"></i> Suivi et feedback.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">

        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <h1 class="mb-3">Explorez Les Préstations ILMA EVENT</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"
                *ngFor="let benefit of benefits; let i=index;">
                <div class="cat-item d-block bg-light text-center rounded p-3">
                    <div class="rounded p-4">
                        <i class="{{benefit.icone}}"></i>
                        <h6>{{ benefit.label}}</h6>
                        <span>{{ benefit.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->


<!-- Back to Top -->
<!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
<!-- </div> -->
