.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 1.2rem 0.7rem;
        border-radius: 7px;
        position: relative;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all 0.3s;
    }

    &--sm {
        font-size: 1.6rem !important;
        width: 33%;

        @media (max-width: 991.98px) {
            width: 50%;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &--important {
        background-color: $color-secondary;
        color: $color-grey-dark-5;
        &::after {
            background-color: $color-grey-dark-5;
            color: $color-secondary;
        }
        &:hover {
            background-color: $color-grey-dark-5;
            color: $color-secondary;
        }
    }

    &--danger {
        background-color: $color-secondary-light;
        color: $color-white;
    }

    &--grey {
        background-color: $color-grey-dark-2;
        color: $color-white;
    }
}

.close-btn {
    float: right;
    background-color: $color-secondary;
    color: white;
    border: none;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
}
