.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        // padding: 1.5rem 4rem;
        padding: 1.5rem 2rem;
        display: inline-block;
        // border-radius: 10rem;
        border-radius: 7px;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        /*transform: translateY(-3px);*/
        // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        /* &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }*/
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--important {
        background-color: $color-secondary;
        color: $color-grey-dark-5;
        &::after {
            background-color: $color-grey-dark-5;
            color: $color-secondary;
        }
        &:hover {
            background-color: $color-grey-dark-5;
            color: $color-secondary;
        }
    }

    &--warning {
        background-color: $color-secondary-light;
        color: $color-white;
    }
    &--secondary {
        background-color: $color-tertiary-light;
        color: $color-white;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 7px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}

.btn--add {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;
}

.btn--add span {
    color: #6a7cc1;
    font-size: 1.5rem;
    font-weight: 800;
    float: left;
    margin-left: 5px;
}

.btn--delete {
    margin-left: 80%;
    margin-top: -50%;
    color: $color-secondary;
    font-weight: 800;
    background-color: transparent;
}

.btn--delete:hover {
    box-shadow: none;
    transform: none;
}

.btn-submit {
    width: 90% !important;

    &:hover {
        color: $color-white;
    }
}

// .btn-export {
//     background-color: $color-primary-dark;
//     color: $color-white;
//     border-radius : 7px;
//   }

.btn-export {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 7px;
    padding: 1rem;
    font-size: 1.2rem;
}

.close-btn {
    float: right;
    background-color: $color-secondary;
    color: white;
    border: none;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
}

.btn-yes {
    background-color: $color-secondary-light;
    color: $color-white;
    border-radius: 7px;
    padding: 1rem;
    font-size: 1.2rem;
}

.btn-cancel {
    background-color: $color-grey-dark-2;
    color: $color-white;
    border-radius: 7px;
    padding: 1rem;
    font-size: 1.2rem;
}
