.book__form {
    width: 85% !important;
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input,
    &__select,
    &__textarea {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;
        border-bottom: 3px solid $color-primary;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-light;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__checkbox-input,
    &__radio-input {
        display: none;
    }

    &__checkbox-label,
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__checkbox-button,
    &__radio-button {
        height: 1rem;
        width: 1rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.3rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after,
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__input--coltable {
        padding: 0;
        width: 75%;
        display: inline;
        border: none;
        margin-right: 1rem;
        background-color: transparent;

        &::placeholder {
            color: black;
            font-weight: bold;
            font-size: 1.2rem;
        }
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        &:focus::placeholder {
            color: $color-grey-dark-4;
        }
    }
}

.form__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.form__switch-input {
    display: none;
}

.form__switch-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
}

.form__switch-switch {
    position: absolute;
    top: 1px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s;
}

.form__switch-input:checked + .form__switch-label .form__switch-switch {
    left: 30px;
    background-color: $color-primary;
}

.form__checkbox-group {
    display: flex;
    flex-direction: column;
}

.form__checkbox {
    display: none; /* Hide the default checkbox */
}
.form__checkbox-label {
    padding-left: 0;
}

.form__checkbox-label::before {
    content: "";
    display: inline-block;
    width: 15px; /* Adjust as needed */
    height: 15px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust as needed */
    border-radius: 3px; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
}

.form__checkbox:checked + .form__checkbox-label::before {
    background-color: $color-primary; /* Adjust as needed */
    border-color: $color-primary; /* Adjust as needed */
}

/* Additional styling for visual feedback when hovering over the label */
.form__checkbox-label:hover::before {
    border-color: $color-secondary-dark; /* Adjust as needed */
}

.form-box {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 30vw;
    // padding: 3rem;
    z-index: 4000;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}

.form_box__title {
    padding: 1.5rem 2rem;
    background-color: $color-grey-dark-5;
    font-weight: 500;
}

.form_box__btn {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-around;
    .btn {
        width: 80px;
    }
}
