.book__form {
    width: 85% !important;
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }


    &__input,
    &__select,
    &__textarea {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;
        border-bottom: 3px solid $color-primary;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary-light;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-primary-light;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
        /* Apply styles to make the textarea resizable */
        &__textarea {
            resize: both; /* Enables vertical and horizontal resizing */
            overflow: auto; /* Displays scrollbars if content overflows */
            height: 100px; /* Set an initial height */
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__checkbox-input,
    &__radio-input {
        display: none;
    }

    &__checkbox-label,
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__checkbox-button,
    &__radio-button {
        height: 1rem;
        width: 1rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.3rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after,
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__input--coltable {
        padding: 0;
        width: 75%;
        display: inline;
        border: none;
        margin-right: 1rem;
        background-color: transparent;

        &::placeholder {
            color: black;
            font-weight: bold;
            font-size: 1.2rem;
        }
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        &:focus::placeholder {
            color: $color-grey-dark-4;
        }
    }

    &__select--coltable {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}

.form__checkbox-group {
    display: flex;
    flex-direction: column;
}

.form__checkbox {
    display: none; /* Hide the default checkbox */
}
.form__checkbox-label {
    padding-left: 0;
}

.form__checkbox-label::before {
    content: "";
    display: inline-block;
    width: 15px; /* Adjust as needed */
    height: 15px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust as needed */
    border-radius: 3px; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
}

.form__checkbox:checked + .form__checkbox-label::before {
    background-color: $color-primary-dark; /* Adjust as needed */
    border-color: $color-primary-dark; /* Adjust as needed */
}

/* Additional styling for visual feedback when hovering over the label */
.form__checkbox-label:hover::before {
    border-color: $color-primary-dark; /* Adjust as needed */
}

.form-box {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 30vw;
    // padding: 3rem;
    z-index: 4000;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}

.form_box__title {
    padding: 1.5rem 2rem;
    background-color: $color-grey-dark-5;
    font-weight: 500;
}

.form_box__btn {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-around;
    .btn {
        width: 80px;
    }
}

.required:after {
    color: $color-secondary-light;
    content: "*";
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.radio-wrapper {
    width: 120px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    // background: rgba(0, 0, 0, 0.4);
    border: 2px solid $color-primary-dark;
    border-radius: 20px;
    position: relative;
    margin-left: 1%;
    .radio__p {
        position: absolute;
        z-index: 10;
        // color: white;
        font-size: 1.3em;
        margin: 0;
    }
    .wrong {
        left: 10px;
    }
    .correct {
        right: 10px;
        top: -3px;
    }
    .neutral-icon {
        left: 40px;
        top: -5px;
        opacity: 0.5;
    }
    .radio_label {
        z-index: 9;
    }
}

.radio-switch {
    display: none;
}

.neutral-icon i {
    font-size: 10px;
}
.neutral + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    transition: transform 1s;
    font-size: 10px;
}

.neutral:checked + label {
    border: 2px solid $color-primary-dark;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-grey-dark-4;
}

.yes + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    text-align: center;
}

.yes:checked + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-primary-dark;
    color: white;
    border: 2px solid $color-primary-dark;
    -moz-animation-duration: 0.4s;
    -moz-animation-name: slideno;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slideno;
    animation-duration: 0.4s;
    animation-name: slideno;
    -webkit-transform: translateZ(0);
}

.no + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    text-align: center;
}

.no:checked + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-primary-dark;
    color: white;
    border: 2px solid $color-primary-dark;
    -moz-animation-duration: 0.4s;
    -moz-animation-name: slidein;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slidein;
    animation-duration: 0.4s;
    animation-name: slidein;
    -webkit-transform: translateZ(0);
}

.radio_label {
    display: flex !important;
    justify-content: center;
    align-items: center;
    // color: white;
}

@keyframes slidein {
    from {
        transform: translate(30px, 0);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes slideno {
    from {
        transform: translate(-30px, 0);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes returnLeft {
    from {
        transform: translate(-30px, 0);
    }
    to {
        transform: translate(0px, 0);
    }
}

@keyframes returnRight {
    from {
        transform: translate(30px, 0);
    }
    to {
        transform: translate(0px, 0);
    }
}

.radio-btn-group {
    font-size: 1.6rem;
}

.radio-btn:checked,
.radio-btn:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-btn:checked + label,
.radio-btn:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    margin-right: 15px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio-btn:checked + label:before,
.radio-btn:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $color-primary-dark;
     border-radius: 30%;
    background: #fff;
}
.radio-btn:checked + label:after,
.radio-btn:not(:checked) + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: $color-primary;
    position: absolute;
    top: 4.8px;
    left: 4.8px;
     border-radius: 30%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-btn:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-btn:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-btn-new:checked + label:before,
.radio-btn-new:not(:checked) + label:before  {
    background :#FFF176 ;
}

.radio-btn-new:checked + label:after,
.radio-btn-new:not(:checked) + label:after  {
    // background :#FFF176 ;
}

.radio-btn-inpro:checked + label:before,
.radio-btn-inpro:not(:checked) + label:before  {
    background :#81C784 ;
}

.radio-btn-inpro:checked + label:after,
.radio-btn-inpro:not(:checked) + label:after  {
    // background :#81C784 ;
}


.radio-btn-done:checked + label:before,
.radio-btn-done:not(:checked) + label:before  {
    background :#64B5F6 ;
}

.radio-btn-done:checked + label:after,
.radio-btn-done:not(:checked) + label:after  {
    // background :#64B5F6 ;
}

.radio-btn-cancel:checked + label:before,
.radio-btn-cancel:not(:checked) + label:before  {
    background :#B0BEC5 ;
}

.radio-btn-cancel:checked + label:after,
.radio-btn-cancel:not(:checked) + label:after  {
    // background :#B0BEC5 ;
}


.form__file_box label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.form__file_img-box {
    padding: 1rem;
    margin: 1rem;
    & img {
        height: 30rem;
    }
}
