.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: $color-white;

    /* &__logo-box {
        float: left;
        position: absolute;
        top: 4rem;
        left: 4rem;
    }*/

    &__logo {
        /* height: 7rem;*/
        max-width: 100px;
    }

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__item {
        margin-left: 20px;
        /*display: inline-block;
        position: relative;
        z-index: 100;*/
    }

    /*&__item:first-child {
        margin-left: 0;
    }*/

    &__link {
        font-weight: 600;
        font-size: larger;
        text-decoration: none;
        border-bottom: 2px solid transparent; // Set a transparent border initially
        padding: 20px 15px;
        /*display: block;*/
        color: $color-black;
        transition: all 0.2s ease-in-out 0s;
    }

    &__link:hover,
    &__item:hover > a {
        /*color: #fff;
        background: $color-primary-dark;*/
        border-bottom: 2px solid $color-primary-dark;
    }

    &__sub-menu {
        visibility: hidden;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 150px;
        position: absolute;
        left: 0px;
        background: #fff;
        z-index: 99;
        transform: translate(0, 20px);
        transition: all 0.2s ease-out;
    }

    &__sub-menu:after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
    }

    &__sub-menu li {
        display: block;
        float: none;
        background: none;
        margin: 0;
        padding: 0;
    }

    &__sub-menu li a {
        font-size: 12px;
        font-weight: normal;
        display: block;
        color: #797979;
        background: #fff;
    }

    &__sub-menu li a:hover,
    &__sub-menu li:hover > a {
        background: $color-primary-dark;
        color: #fff;
    }

    &__sub-menu:hover > ul {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }

    &__sub-menu ul {
        left: 149px;
        top: 0px;
        visibility: hidden;
        opacity: 0;
        transform: translate(20px, 20px);
        transition: all 0.2s ease-out;
    }

    &__sub-menu ul:after {
        left: -6px;
        top: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 6px;
        margin-top: -6px;
    }

    &__item > ul ul:hover {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Optional: Add some styles for responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        &__nav {
            margin-top: 10px;
        }
        &__menu {
            flex-direction: column;
            text-align: center;
        }
    }

    /*nav li {
        margin: 10px 0;
    }*/
}
/*
.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: $color-primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: $color-primary;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: $color-primary-dark;
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: $color-primary;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
        margin-top: 100px;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,
    .menu li:hover > a {
        background: $color-primary-dark;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover > ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li > ul ul:hover {
        transform: initial;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}
*/
