.section-from {
    // background-color: $color-grey-dark-5;
}
.section-one {
    // padding-top: 15rem;
}

.section-separator {
    height: 10rem;
}

.section__content {
    background-color: $color-white;
    margin: 0rem auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    border: 3px solid $color-primary;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, 0.1);
}
