// ----------------------------------------------
// SideBar Style
// ----------------------------------------------

.left-sidebar {
  width: 270px;
  height: 100vh;
  background-color: $color-white;
  position: absolute;
  transition: 0.2s ease-in;
  // height: 100%;
  z-index: 11;
  border-right: 1px solid rgb(229, 234, 239);
}

.brand-logo {
  min-height: 70px;
  padding: 0 24px;
}

.nav-small-cap {
  margin-top: 24px;
  color: $color-secondary-dark;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 12px;
  line-height: 26px;
  text-transform: uppercase;

  .nav-small-cap-icon {
    display: none;
  }
}

.sidebar-nav {
  ul {
    .sidebar-item {
      .sidebar-link {
        color: #2a3547;
        display: flex;
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
        position: relative;
        margin: 0px 0px 2px;
        padding: 10px;
        border-radius: 7px;
        gap: 15px;
        font-weight: 400;

        span:first-child {
          display: flex;
        }

        .ti {
          flex-shrink: 0;
          font-size: 21px;
        }

        &:hover {
          background-color: $color-primary;
          color: $color-white;

          &.has-arrow::after {
            border-color: $color-white;
          }
        }
      }

      .sidebar-link.active {
        &:hover {
          &.has-arrow::after {
            border-color: $color-white;
          }
        }
      }

      .link-disabled {
        opacity: 0.38;
      }

      &.selected > .sidebar-link.active,
      &.selected > .sidebar-link,
      > .sidebar-link.active {
        background-color: $color-secondary-light;
        color: $color-white;
      }
    }
  }

  .sidebar-list {
    .sidebar-list-item {
      padding: 8px 0;
    }
  }
}

.collapse.in {
  display: block;
}
