<div class="navbar">
    <div class="navbar__logo-box" href="/home">
        <a href="/home"><img src="../../../assets/img/logo.png" alt="Logo" class="navbar__logo"></a>
    </div>
    <nav class="navbar__nav">
        <ul class="navbar__menu">
            <li class="navbar__item"><a href="/about" class="navbar__link"><i class="fa fa-user"></i> A
                    PROPOS</a></li>
            <li class="navbar__item"><a href="/portfolio" class="navbar__link"><i class="fa fa-tags"></i> PORTFOLIO</a>
            </li>
            <li class="navbar__item"><a href="/contact" class="navbar__link"><i class="fa fa-envelope"></i> CONTACT</a>
            </li>
        </ul>
    </nav>
</div>
