<div class="popup-container" *ngIf="true">
    <div class="popup-content">
        <button class="close-btn" (click)="closeAddTypePopup()"> &times;</button>
        <form [formGroup]="typeForm" class="form">
            <div class="u-margin-bottom-medium">
                <h3 class="heading-tertiary" *ngIf="!editMode">
                    Ajouter un Nouveau Type d'Evénement.
                </h3>
                <h3 class="heading-tertiary" *ngIf="editMode">
                    Modifier le Type d'Evénement.
                </h3>
            </div>
            <div class="form__group mb-3">
                <label for="label" class="form-label required">Libellé :</label>
                <input type="text" class="form-control" placeholder="Libellé" id="label" formControlName="label"
                    required>
                <app-field-error-display [displayError]="isFieldValid('label')!"
                    errorMsg="Veuillez saisir un libellé !">
                </app-field-error-display>
            </div>

            <div class="form__group mb-3">
                <label for="description" class="form-label">Description :</label>
                <textarea type="textarea" class="form-control form__textarea" placeholder="Description" id="description"
                    formControlName="description">
                </textarea>
                <p class="p-counter">{{ descriptionCharacterCount }}/400</p>
                <app-field-error-display [displayError]="isFieldValid('description')!"
                    errorMsg="La description ne peut pas dépasser 400 caractères." class="fs-5 text-secondary">
                </app-field-error-display>
            </div>

            <div class="form__group mb-3">
                <label for="participantsNb" class="form-label">Ordre :</label>
                <input type="number" class="form-control" placeholder="Ordre" id="rank" formControlName="rank">
            </div>

            <div class="form__group mb-3">
                <label for="active" class="form-label">Actif ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="active" formControlName="active">
                </div>
            </div>

            <div class="row form__group row d-flex justify-content-center">
                <button type="submit" class="btn btn-primary " (click)="onSubmit()">Sauvegarder</button>
            </div>

        </form>
    </div>
</div>
